/assembler/linux/x86_64/asm_01
/assembler/linux/x86_64/asm_01.lst
/assembler/linux/x86_64/asm_01.o
/assembler/linux/x86_64/asm_02
/assembler/linux/x86_64/asm_02.lst
/assembler/linux/x86_64/asm_02.o
/assembler/linux/x86_64/asm_03
/assembler/linux/x86_64/asm_03.lst
/assembler/linux/x86_64/asm_03.o
/assembler/linux/x86_64/asm_04
/assembler/linux/x86_64/asm_04.lst
/assembler/linux/x86_64/asm_04.o
/assembler/linux/x86_64/asm_05
/assembler/linux/x86_64/asm_05.lst
/assembler/linux/x86_64/asm_05.o
/assembler/linux/x86_64/asm_06
/assembler/linux/x86_64/asm_06.lst
/assembler/linux/x86_64/asm_06.o
/assembler/linux/x86_64/asm_07
/assembler/linux/x86_64/asm_07.lst
/assembler/linux/x86_64/asm_07.o
/assembler/linux/x86_64/asm_08
/assembler/linux/x86_64/asm_08.lst
/assembler/linux/x86_64/asm_08.o
/assembler/linux/x86_64/asm_09
/assembler/linux/x86_64/asm_09.lst
/assembler/linux/x86_64/asm_09.o
/pat.txt
/rust/test_01
/rust/test_02
/rust/test_03
/rust/test_04
/rust/test_05
/rust/test_06
/rust/test_07
/rust/test_08
/rust/test_09
/rust/test_10
/rust/test_11
/rust/test_12
/rust/test_13
/rust/test_14
/rust/test_15
/rust/test_16
/rust/test_17
/rust/test_18
/rust/test_19
